    animations {

        workspace-switch {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.0001
        }
        horizontal-view-movement {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.0001
        }
        window-movement {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.0001
        }
        window-resize {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.0001
        }
        config-notification-open-close {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.001
        }
        overview-open-close {
            spring damping-ratio=0.75 stiffness=900 epsilon=0.0001
        }

    window-open {
        duration-ms 750
        curve "linear"
        custom-shader r"
        vec4 open_color(vec3 coords_geo, vec3 size_geo) {
            vec3 coords_tex = niri_geo_to_tex * coords_geo;
            vec4 color = texture2D(niri_tex, coords_tex.st);
            float cellSize = 35.0;

            float p = niri_clamped_progress * (1.0 + cellSize * 0.015);
            vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size_geo.xy / size_geo.x;
            coords*= cellSize;
            coords.x += ceil(coords.y) * .5;
            vec2 cell = floor(-coords);
            coords = fract(coords);

            vec2 center = vec2(0.5);
            float offset = cell.y ;
            float d = distance(coords, center);
            float r = p + offset / cellSize;
            if (r < 0.25) {
             r = 0.0;
            }
            d = smoothstep(r-0.01, r+0.01, d);
            vec4 col = mix(color, vec4(0), d);
            return col;
        }
        "
    }

    window-close {
        duration-ms 750
        curve "linear"
        custom-shader r"
        vec4 close_color(vec3 coords_geo, vec3 size_geo) {
            vec3 coords_tex = niri_geo_to_tex * coords_geo;
            vec4 color = texture2D(niri_tex, coords_tex.st);
            float cellSize = 35.0;

            float p = niri_clamped_progress * (1.0 + cellSize * 0.015);
            vec2 coords = (coords_geo.xy - vec2(0.0, 0.5)) * size_geo.xy / size_geo.x;
            coords*= cellSize;
            coords.x += ceil(coords.y) * .5;
            vec2 cell = floor(-coords);
            coords = fract(coords);

            vec2 center = vec2(0.5);
            float offset = cell.y ;
            float d = distance(coords, center);
            float r = 1.0 - p + offset / cellSize;
            if (r < 0.25) {
             r = 0.0;
            }
            d = smoothstep(r-0.01, r+0.01, d);
            vec4 col = mix(color, vec4(0), d);
            return col;
        }
        "
    }
    }
