@define-color sidebar_bg_color #f8b4c9;
@define-color headerbar_bg_color #f8b4c9;
@define-color view_bg_color #f8b4c9;

viewport box .horizontal,
placessidebar *,
.top-bar,
.linked {
  background-color: #f8b4c9;
}

box .floating-bar {
  background-color: #faa5b6;
  box-shadow: none;
}

.nautilus-image {
  background-color: transparent;
}

.dim-label,
/* .image-button, */
menubutton,
windowtitle {
  opacity: 0;
}

.activatable * {
  background-color: #f8b4c9;
  border-radius: 0px;
  border: 0px;
}

.activatable:focus,
.activatable:hover,
.activatable:active {
  border-radius:0px;
  border: 1px solid #000000;
}

entry {
  color: #000000;
  background-color: #faa5b6;
  border-radius: 0px;
}

button.suggested-action {
  background-color: #eb8da5;
  border-radius: 0px;
  opacity: 1;
}

button.current-dir {
  opacity: 1;
}
